<footer class="footer-section ">
  <div class="main-footer">
      
      <div class="footer-content pt-5 pb-1">
          <div class="row m-0 p-0">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="index.html"><img src="../../assets/address.jpg" class="img-fluid" alt="logo"></a>
                      </div>
                      <!-- <div class="footer-text">
                          <p>Level up your daily meal with the best in Quality masala & flavours
                          </p>
                      </div>
                       -->
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Page Links</h3>
                      </div>
                      <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/products">Products</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50 m-0 p-0">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Contact us</h3>
                      </div>
                      <div class="footer-social-icon">
                        <p>Phone :&nbsp;+91 9952539009 /+919994776545
                        </p>
                        <p><a href="https://wa.me/+918428569176" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp whatsapp-bg"></i></a> 
                          &nbsp; <a href="mailto:nrreximp@gmail.com"><i class="fas fa-envelope google-bg"></i></a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>