
ul {
  margin: 0px;
  padding: 0px;
}
.footer-widget ul{
  display: flex;
  justify-content: space-between;
}
.footer-section {
background: #151414;
position: relative;
/* border-radius: 10px 10px 0 0; */
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #fef29d;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-logo img {
  max-width: 300px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.whatsapp-bg {
  background-color: #177217; 
}
.facebook-bg{
background: #3B5998;
}
.phone-bg {
  background-color: #093d09; /* Replace with your desired color code */
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #b19d16;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 20%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #a0a021;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #fef29d;
  padding: 13px 20px;
  border: 1px solid #fef29d;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #fef29d;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.countries-list {
  width: 10%;
}
.global-service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.container-fluid {
  position: relative;
  overflow: hidden;
}
.footer-menu li:hover a{
color: #fef29d;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.card-img-overlay {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the last value for opacity */
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  .countries{
    display: grid;
    grid-template-columns: auto auto;
  }
  .countries-list{
    width: 100%;
  }
  .page-links{
    margin-top: 2rem;
  }
}