<!-- <app-navbar></app-navbar> -->
<form #f = "ngForm" (ngSubmit)="addData(f)">
  <input type="text" name = "name" ngModel>
  <br>
  <input type="email" name="email" ngModel><br>
  <input type="password" name="password" ngModel><br>
  <button type="submit">
Save data
  </button>
</form>
<div class="main-container">
  <div class="main-content">
    <div class="content mt-5">
      <h3 class="p-title mb-0">Category</h3>
      <div class="row m-0 p-0">
        <div *ngFor="let product of products" class="col-md-3 mb-4 d-flex justify-content-center flex-column"
          [ngClass]="{'active': activeProduct === product}" (click)="setActiveProduct(product)">
          <img [src]="product.imageUrl" alt="{{ product.name }} Image">
          <p>{{ product.name }}</p>
        </div>
        <div class="products">
          <h3 class="p-title">Products</h3>
          <div *ngIf="!selectedProduct">
            <div >
              <div class="row p-0 m-0">
                <div *ngFor="let item of subdatas" class="col-md-3 mb-4">
                  <img [src]="item.imageUrl" alt="{{ item.name }} Image">
                  <p>{{ item.name }}</p>
                </div>
               
              </div>
            </div>
          </div>
          <!--  -->
          <div>
            <div *ngIf="selectedProduct">
              <div *ngIf="selectedProduct.selected_products">
                <div class="row m-0 p-0">
                  <div *ngFor="let item of selectedProduct.selected_products" class="col-md-3 mb-4 ">
                    <img [src]="item.imageUrl" alt="{{ item.name }} Image">
                    <p>{{ item.name }}</p>
                    <!-- <h5>{{ selectedProduct.name }}</h5> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>