<app-navbar></app-navbar>
<div class="main-content">
<div class="content d-flex justify-content-between p-5">
    <div class="left-content">
        <div class="ml-5 mt-4">
            <h2>Who we are</h2>
        <p>
            Welcome to Devis Masala, where passion for flavor meets uncompromising quality. Established with a commitment to
            enriching culinary experiences, we take pride in crafting a diverse range of premium spices and masalas. At Devis, we
            understand the importance of authentic taste, and that's why each product is a result of meticulous sourcing, blending,
            and packaging. Our journey began with a vision to bring the essence of Indian spices to kitchens worldwide. From
            traditional recipes passed down through generations to innovative blends, we strive to deliver the finest ingredients to
            elevate your cooking to new heights. Trust Devis Masala for the perfect harmony of taste and quality in every meal. Join
            us on this flavorful expedition, and let your culinary adventures be seasoned with the best.
        </p>
        </div>
    </div>
    <div class="right-content d-flex justify-content-center">
        <img src="../../assets/logo.jpg" alt="" width="50%">
    </div>
</div>
</div>
<app-footer></app-footer>