<div class="top-bottom">
    <div class="main-container">
        <div class="image-nav">
            <div class="site-logo">
                <img src="../../assets/logo.jpg" alt="no image">
            </div>
            <div class="navigation_menu">
                <ul>
                    <li>
                        <a routerLink="../home" class="home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/products" class="masalas">
                            Products
                        </a>
                    </li>
                    <li>
                        <a routerLink="/about" class="about_us">
                            About us
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact" class="contact_us">
                            Contact us
                        </a>
                    </li>
                    <li *ngIf="!isLoggedIn">
                        <a routerLink="/login" class="Login">Login</a>
                      </li>
                      <li *ngIf="isLoggedIn">
                        <a routerLink="/account" class="Account">Account</a>
                      </li>
                </ul>
            </div>
        </div>
        </div>
        <!-- <footer>
            <div class="content">
        <h3>jhhsd</h3>
            </div>
        </footer> -->
        
</div>