<div class="top-bottom">
    <div class="main-container">
        <div class="image-nav">
            <div class="site-logo">
                <img src="../../assets/logo.jpg" alt="no image">
            </div>
            <div class="navigation_menu">
                <ul>
                    <li>
                        <a routerLink="../home" class="home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="home" class="about_us">
                            About us
                        </a>
                    </li>
                    <li>
                        <a routerLink="home" class="products">
                            Masalas
                        </a>
                    </li>
                    <li>
                        <a routerLink="home" class="contact_us">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <app-masala-list></app-masala-list>

        <footer>
            <div class="content">
        <h3>jhhsd</h3>
            </div>
        </footer>
        
</div>