<app-navbar></app-navbar>
<div class="main-container">
   <div class="product_detailed p-md-5">
      <div *ngIf="product_detail">
        <div class="product-container">
          <div class="product-img ">
            <img [src]="product_detail.imageUrl"  alt="{{product_detail.imageUrl}} Image" />
          </div>
          <div class="product-content">
            <p class="name">{{product_detail.name}}</p>
            <hr>
            <div class="describe">
              <div class="mt-1">
                <div>
                  <h3>Description</h3>
                </div>
                <p>{{product_detail.description}}</p>
              </div>
              <hr>
              <div class="">
                <h3>Packaging Available In</h3>
              </div>
              <div class="d-flex gap-3 " *ngFor="let quantity of product_detail.quantity; let i = index">
                <div  *ngFor="let gram of quantity.gram">
                  {{ gram }} g
                </div>
                <div  *ngFor="let kg of quantity.kilogram">
                  {{ kg }} kg
                </div>
              </div>
              <div class="mt-2 ">
              <span>Price :</span>  {{product_detail.price}} <span>&#8360;</span>
              </div>
              <div class="mt-2 d-flex gap-5 ">
                <button class="btn btn-outline-primary buy_now">Buy Now</button>
                <button class="btn btn-outline-primary cart">Add to Cart</button>
              </div>
  
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!product_detail">
        <div class="w-100 d-flex justify-content-center">
            No records found
        </div>
      </div>

    </div>


</div>
<app-footer></app-footer>