<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="text-contact">
        <h3>
            Contact Us
        </h3>
    </div>
    <div class="contact-details mb-5 d-md-flex mt-2">
        <!-- Basic Details -->
        <div class="basic-details d-flex flex-column gap-5 p-3 p-md-5">
            <div class="d-flex align-items-start gap-3">
                <span><i class="fas fa-home"></i></span>
                <div>
                    <p>No.80, SIDCO Industrial Estate, Nanjikottai,
                        <br> Thanjavur, Tamil Nadu 613006.</p>
                </div>
            </div>
            <div class="d-flex align-items-baseline gap-3">
                <span><i class="fas fa-phone"></i></span>
                <div>
                    <p>+919952539009 /+919994776545</p>
                </div>
            </div>
            <div class="d-flex align-items-baseline gap-3">
                <span><i class="fas fa-envelope"></i></span>
                <div>
                    <p>nrreximp@gmail.com</p>
                </div>
            </div>
        </div>
    
        <!-- Map Details -->
        <div class="map-details p-md-3 p-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62719.22856496787!2d79.09595533027158!3d10.73819951859837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baab9ba05d26bab%3A0xa61e27b56dea48d6!2sDevi&#39;s%20masala!5e0!3m2!1sen!2sin!4v1704546551918!5m2!1sen!2sin" 
             height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
</div>
<app-footer></app-footer>