@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    margin: auto;
    color: #fff;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .scrollbar {
	float: left;
	height: 300px;
	margin-bottom: 25px;
	margin-left: 22px;
	margin-top: 40px;
	width: 65px;
	overflow-y: scroll;
}

.force-overflow {
	min-height: 450px;
}
#style-1::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
} */