@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

body{
    margin: auto;
    color: #fff;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .scrollbar {
	float: left;
	height: 300px;
	margin-bottom: 25px;
	margin-left: 22px;
	margin-top: 40px;
	width: 65px;
	overflow-y: scroll;
}

.force-overflow {
	min-height: 450px;
}
#style-1::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
} */
/* * {
	--scrollbar-color: #00000000;
  }
  
  *:hover, *:focus, *:focus-within {
	--scrollbar-color: #00000040 !important;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: #00000000;
	border: 5px solid transparent;
	border-radius: 24px;
	box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-color);
	border: 0px solid transparent;
	box-shadow: none;
  } */