<div class="main-container">
  <div class="image-nav">
    <div class="site-logo">
      <img src="../../assets/logo.jpg" alt="no image">
    </div>
    <div class="navigation_menu">
      <ul>
        <li>
          <a routerLink="" class="home">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/products" class="products">
            Products
          </a>
        </li>
        <li>
          <a routerLink="/about" class="about_us">
            About us
          </a>
        </li>
        <li>
          <a routerLink="/contact" class="contact_us">
            Contact us
          </a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login" class="Login">Login</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/account" class="Account">Account</a>
        </li>
      </ul>


    </div>

  </div>
  <div class="middle">
    <!-- <div class="image">
    <img src="../../assets/items.png" alt="">
  </div> -->
    <div class="slogan">
      <div class="text col-12 col-md-12">
        "Spice up meals with premium masala & flavors"

      </div>
      <div class="button" routerLink="/products">
        <button class="explore" routerLink="../masala">Our products<span class="icon-right"></span>
          <span class="icon-right after"></span></button>
      </div>
    </div>
  </div>
</div>



<!-- <div class="global-service container-fluid mt-5">
    <h3 class="card-title display-8 text-black">Direct Powders</h3>
    <div class="row container-fluid mt-3">
        <div class="card c">
            <img src="../../assets/direct-powders.png" class="img-fluid" alt="Landscape Image" width="100%" alt="...">
            <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
            </div>
          
        </div>

    </div>
    
      
</div> -->
<!-- <div class="container-fluid p-0 mt-5">
    <h3 class="text-black d-flex justify-content-center">Direct Powders</h3>
<div class="container-fluid p-0 mt-5">
    <div class="overlay-container">
      <img src="../../assets/direct-powders.png" alt="Landscape Image" class="img-fluid">
      <div class="overlay"></div>
    </div>
  </div>
</div> -->
<div class="best-seller container-fluid p-0 mt-5 p-3 d-flex justify-content-space-between">
  <div class="d-flex container-fluid align-items-center  ">
    <div class="text ">Best Seller
      <br>
      <div style="font-size: x-large;">
        Ignite Your Culinary Creativity with Devis Masala! Elevate every dish with our top-selling <span
          class="highlight">{{ dynamicContent }}</span>.
        Unleash the magic of our spice powders with easy recipes on our website. Transform ordinary meals into
        extraordinary experiences—shop now for the finest flavors!
      </div>
    </div>


  </div>
  <div class="slider-dots">
    <div class="slider mt-5 " *ngIf="firstImagePath.length > 0 ">
      <img [@fadeInOut]="currentImageIndex" [src]="firstImagePath[currentImageIndex]" alt="best-seller"
        class="slider-image">
    </div>
    <div class="dots">
      <span *ngFor="let image of firstImagePath; let i = index" (click)="setCurrentImage(i)"
        [class.active]="i === currentImageIndex"></span>
    </div>
  </div>


</div>
<!-- <br>
      <br>
      <button class="back" (click)="changeImage(-1)">Back</button>
      <button class="next" (click)="changeImage(1)">Next</button> -->
<!-- s -->
<!-- <section class="about-section">
    <div class="container" style="width: 100%;">
        <div class="row">                
                       <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="slider-dots" >
                        <div class="slider mt-5 " *ngIf="firstImagePath.length > 0 ">
                            <img [@fadeInOut]="currentImageIndex" [src]="firstImagePath[currentImageIndex]" alt="best-seller" class="slider-image">
                          </div>
                          <div class="dots">
                            <span *ngFor="let image of firstImagePath; let i = index" (click)="setCurrentImage(i)" [class.active]="i === currentImageIndex"></span>
                          </div>
                    </div>
                 
                </div>
            </div>

            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Our best selling products</h2>
                    </div>
                    <div class="text">I am Rahul Yaduvanshi works at Css3 Transition since last 3 years. We are here to provide touch notch solution for your website or web application that helps you to make your website look attractive & efficient in handling by creating usefull plugins thats you need.</div>
                  <div class="text">
                    We are here to serve you next level tutorial that currently in trend to match you with your expertise. Css3 transition is a learning website. where you can find many good quality content related to web development and tutorials about plugins. here we are using html, html5, css, css3, jquery & javascript along with inspirational UI design layout by professionals by using Photoshop and adobe allustrator.
                  </div>
                  
                </div>
            </div>
          
        </div>
    </div>
</section> -->
<!-- e -->
<div class="imgcontent mt-5">
  <div class="centerimg"></div>
  <div class="center" style="color: white;">
    <div class="top-products">
        <h2 class="d-flex justify-content-center ">Instant rice podi</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="product-carousel">
                <div class="row">
                  <div *ngFor="let product of visibleProducts; let i = index" class="col-md-2">
                    <div class="product-container" [style.filter]="i === centeredIndex ? 'none' : 'blur(2px)'" [style.transform]="i === centeredIndex ? 'scale(1.3)' : 'scale(1)'">
                      <img src="{{ product.imageUrl }}" alt="{{ product.imageUrl }}" class="img-fluid" />
                      <p class="product-name">{{ product.name }}</p>
                    </div>
                  </div>
                  
                  <div class="dots instant mt-5">
                    <span *ngFor="let product of visibleProducts; let i = index" [class.active]="i === currentIndex" (click)="setIndex(i)"></span>
                  </div>
                  
                </div>
              </div>
              <!-- <div class="text-center mt-3">
                <button class="btn btn-primary" (click)="showPrevious()">Previous</button>
                <button class="btn btn-primary" (click)="showNext()">Next</button>
              </div> -->
            </div>
          </div>
      </div>
    </div> 
   </div>

<div class="global-service mt-5 container-fluid mb-5">
  <h2>Our Global Services</h2>
  <div class="row gap-5 container-fluid mt-3 justify-content-center countries">
    <div class="card col-12 col-md-2   align-items-center justify-content-center countries-list">
      <img src="../../assets/malaysia.png" class="card-img" alt="...">
      <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <span class="card-title display-8">Malaysia</span>
      </div>
    </div>
    <div class="card col-12 col-md-2   align-items-center justify-content-center countries-list ">
      <img src="../../assets/dubai.png" class="card-img" alt="...">
      <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <span class="card-title display-8">Dubai</span>
      </div>
    </div>
    <div class="card col-12 col-md-2   align-items-center justify-content-center countries-list ">
      <img src="../../assets/australia.svg" class="card-img" alt="...">
      <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <span class="card-title display-8">Australia</span>
      </div>
    </div>
    <div class="card col-12 col-md-2   align-items-center justify-content-center countries-list ">
      <img src="../../assets/singapore.png" class="card-img" alt="...">
      <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <span class="card-title display-8">Singapore</span>
      </div>
    </div>
    <div class="card col-12 col-md-2   align-items-center justify-content-center countries-list ">
      <img src="../../assets/sri lanka.svg" class="card-img" alt="...">
      <div class="card-body card-img-overlay d-flex flex-column justify-content-center align-items-center">
        <span class="card-title display-8">Sri Lanka</span>
      </div>
    </div>
  </div>
</div>
<div class="">
  <app-footer></app-footer>
</div>